AssignmentSiteSoln/AssignmentSite/Web References/refCurWS/currencyWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="currency" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convertCurrencyResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="convertCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:convertCurrency" />
  </wsdl:message>
  <wsdl:message name="convertCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:convertCurrencyResponse" />
  </wsdl:message>
  <wsdl:portType name="currencyWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <wsdl:input message="tns:convertCurrencySoapIn" />
      <wsdl:output message="tns:convertCurrencySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="currencyWSSoap" type="tns:currencyWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <soap:operation soapAction="http://tempuri.org/convertCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="currencyWSSoap12" type="tns:currencyWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <soap12:operation soapAction="http://tempuri.org/convertCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="currencyWS">
    <wsdl:port name="currencyWSSoap" binding="tns:currencyWSSoap">
      <soap:address location="http://localhost:54857/currencyWS.asmx" />
    </wsdl:port>
    <wsdl:port name="currencyWSSoap12" binding="tns:currencyWSSoap12">
      <soap12:address location="http://localhost:54857/currencyWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>